certifi==2019.3.9
chardet==3.0.4
EbookLib==0.17.1
idna==2.8
lxml==4.3.2
nltk==3.4
patool==1.12
pkg-resources==0.0.0
requests==2.21.0
sentencepiece==0.1.8
singledispatch==3.4.0.3
six==1.12.0
tqdm==4.31.1
urllib3==1.24.1
